<!--<p>
You are authenticated user!!!!
<a routerLink="/">Go back</a>
</p>-->
<div class="card bg-light">

  
    <div class= "card-group">
       
        <div class="col-sm">
           <div class= "card img-fluid;card bg-light" style="width: 500px;">
              <img src="assets/logo.png.png" style="width: 100px;">

               <h4 class="card-title">TMC Company Name</h4> <br> 
               <p class="card-text">Aaksha Sharma</p>
               <p class="card-text">tmcadmin@tmccompany.com</p>
               <p class="card-text">+91 9887658767</p>
               <p class="card-text">Hinjewadi Pune Maharashtra</p>
         </div>
      </div>


    <div class="col-sm">
          <div class="card img-fluid; card bg-light"style="width:800px;">
                <a routerLink="/companyinfo">Company Information</a>
                <a routerLink="legalentities.html">Legal Entities</a>
                <a routerLink="account.html">Account Details</a>
                <a routerLink="locations.html">Locations</a>
                <a routerLink="departments.html">Departments</a>
                <a routerLink="costcenter.html">Cost Center</a>
                <a routerLink="designation.html">Designation</a>
                <a routerLink="bands.html">Bands</a>
                <a routerLink="projectcodes.html">Project Codes</a>
                <a routerLink="gstdetails.html">GST Details</a>
                <a routerLink="invoicesettings.html">Invoice Settings</a>
          </div>
    </div>

  </div>
    
</div>
    
     
<div class= "card-group">

    <div class="col-sm">
        <div class="card-body">
            <div class= "card img-fluid;card bg-light">
                <h4 class="card-title"> Customers</h4> <br>
                <p class="card-text"> Manage and Configure your Customers</p>
                <h3 class="text-primary"> 254</h3>
                <p class="card-text"> Last Updated:30-05-2019</p>
            </div>
       </div>
    </div>

    <div class="col-sm">
        <div class="card-body">
            <div class= "card img-fluid;card bg-light">
                <h4 class="card-title"> Suppliers</h4> <br>
                <p class="card-text"> Manage and Configure your Suppliers</p>
                <h3 class="text-primary"> 25</h3>
                <p class="card-text"> Last Updated:30-05-2019</p>
            </div>
        </div>
    </div>

    <div class="col-sm">
        <div class="card-body">
            <div class= "card img-fluid;card bg-light">
                <h4 class="card-title"> Subagents</h4> <br>
                <p class="card-text"> Manage and Configure your Subagents</p>
                <h3 class="text-primary">120</h3>
                <p class="card-text"> Last Updated:30-05-2019</p>
            </div>
        </div>
    </div>
</div>
  
  

  


<router-outlet></router-outlet>
